/*-----------FRONT PAGE-------------------*/

.frontpage-widget {
padding:0px;
box-shadow:0px 1px 0px 0px rgba(150, 150, 150, 0.35), 0px 2px 0px 0px #fff;
border-radius:0px;
padding-top: 12px;
color: #333;
padding-bottom: 5px;
margin-top:0px;
margin-bottom:0px;
	ul {
	list-style-type: none;
	margin-left: 0;
	}
}

.frontpage-widget:last-child {
box-shadow:none;
}

.front-page {
	.sidebar{
	background:$ea_widget_bk;
	}
	.widget{
	background:none;
	}
}

.front-page h4.widget-title {
color: #333;
}


#sidebar-frontpage-2 li.twitter-item {
@include font-size(12);
line-height: 1.5;
list-style: none;
}

#sidebar-frontpage-2 .twitter_update_list {
margin-left: 0;
}

.front-page h2 {
font-weight: bold;
@include font-size(20);
color: #444;
line-height: 1.1em;
letter-spacing: -1px;
}


.front-blog-widget {
	@include font-size(16);
	ul {
	margin-left: 0;
	list-style-type: none;
	}
	li {
	@include font-size(20);
	font-size: 1.25rem;
	letter-spacing: -1px;
	}
	p {
	letter-spacing: 0;
	@include font-size(12);
	line-height:1.5;
		a {
		@include font-size(12);
		}
	}
}


.front-blog-widget h4.widget-title,.subscribe-button h4.widget-title{
display:none;
}

.subscribe-button {
border:0px none;
padding:0;
}

.frontpage-widget.news-widget {
font-weight: bold;
}

.frontpage-widget.news-widget ul {
margin-bottom: 0;
padding: 5px;
}

.news-widget .widget-title {
margin-left: 5px;
}

.frontpage-widget.news-widget li {
line-height: 1.1;
padding-bottom: 5px;
}

.news-widget .date {
margin-bottom: 0;
@include font-size(11);
}
