
/*--------------MEDIA QUERIES-------------------*/

@media only screen and (min-width: 58.57em)
{
	
	/*-----------MENUS----------*/
	
	.top-bar{
	height:30px
	}
	
	.top-bar-section>ul>.divider, .top-bar-section>ul>[role="separator"] {
	height:30px;
	}

	.top-bar-section li a:not(.button) {
	line-height: 30px;
    text-shadow: 1px 0px 1px #747272;
	}
	
	.top-bar .name p a {
	padding: 0px;
	}
	
	.main-top-bar-wrapper .top-bar-section .dropdown li a{
	line-height:1.8;
	}
	
	.main-top-bar-wrapper .top-bar
	{
	height: $main-menu-height;
	}

	.main-top-bar-wrapper .top-bar-section li a:not(.button)
	{
	line-height: 45px;
	}
	
    .main-top-bar-wrapper .top-bar-section>ul>.divider, 
	.main-top-bar-wrapper .top-bar-section>ul>[role="separator"] {
	height:$main-menu-height;
	}
	

    // fix width and height to allow for text wrapping 
	/*.main-top-bar-wrapper .top-bar-section li a:not(.button)
	{
	line-height: 1.3;
	width:128px;
	padding: 7px 10px 4px 12px;
	font-weight:normal;
    color:#eee;
    text-shadow: 0px 1px 1px #111;
    height:$main-menu-height;
	}
   

	.main-top-bar-wrapper .top-bar-section ul li {
	height: $main-menu-height;
	}
     */

    
}
	
@media only screen and (min-width: 768px)
{	

	/*---------SIDEBARS-----------*/
	#sidebar>div:last-child {
	border-bottom: 0px;
	margin-bottom: 20px;
	}
    
    .primary-generic-sidebar .RHS-advert2
    {
        text-align: left;    
        .button {
        width: 100%;
        } 
   
    }
	
	/*----FOOTER-----*/
	#footer-social>div>div
	{
	margin-bottom:0px;
	}
	
	#footer-info .row{
	padding:0px;
	}
	
	#sidebar-footer .widget {
	padding-right:40px;
	}
}