/*!
This is MarketPress Style Earlyarts

*/

/* Earlyarts new styles */
.ea_mp_price_buy {
margin-bottom: 10px;
}
.ea_mp_product_name {
margin-top: 15px;
}
.ea_mp_product_detail img {
float:none;
}
h3.ea_mp_product_name{
@include font-size(17);
    line-height:1.1;
}

.ea-mp-order-area{
    background: rgba(159,208,52,0.05);
    border-top: 3px solid #9dca3a;
    text-align: center;
    padding: 1em 0px 0px;
}

.ea_mp_buy{
    margin:1em 0;
}

.page-template-page-templatesproduct-listings-php [class*="block-grid-"]{
    margin-bottom: 1em;
}

.ea_mp_list_page_info {
    margin:1em 0;
    p {
        line-height:1.4;
        @include font-size(12);
        margin-bottom: 0;
    }
}

.ea-mp-list-page-body {
    background:$ea_widget_bk;
    padding: 1em;
    a{
     text-decoration: underline;
    }
}

.mp_buy_form .mp_button_addcart{
float:right;
}

.ea_mp_discount_price {
    @include font-size(11);
    font-style: italic;
    color: #666;
}

.ea_mp_product_variant {
    background: #eee;
    padding: 1em;
    margin-bottom:1em;
}

.product-excerpt {
    color: #00879b;
    font-weight: bold;
    line-height: 115%;
    @include font-size(17);
}

@media only screen and (min-width: 768px) {
.large-block-grid-3>li {
padding: 0 1.2em 1.25em;
}
}

.mp_cart_contents th
{ font-weight: normal}

div [itemprop=price-description] p {
margin-bottom: 0;
}

.single-product .entry-content th{
   color:$ea_lime;
    @include font-size(18);
    padding-left: 7px;
}

/*-----end earlyarts queries-------*/

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* icons by FamFam http://www.famfamfam.com/lab/icons/silk/ */

div.mp_product_meta {
clear: both;
overflow: hidden;
margin-top: 10px;
}

form.mp_buy_form {
float: right;
}

form.mp_product_price {
float: left;
}

.mp_product_price {
	margin-right: 10px;
	padding: 0;
}

.product {
border-top: 2px dotted #cccccc;
margin-top: 10px;
padding: 10px 0 20px;
}

li.product {
border: none;
padding: 0px;
}

/* generic buttons rules */

#mp_product_list input[type="submit"],
.type-product input[type="submit"],
.mp_cart_col_updatecart input[type="submit"],
.mp_cart_direct_checkout_link,
#mp_shipping_submit,
#order-id-submit,
#mp_payment_confirm,
.mp_no_stock,
.mp_link_buynow {
	border: 1px solid #E26224;
	background-clip: padding-box;
	background-color: $ea_orange;
	text-decoration: none;
	padding: 8px 20px;
	font-size: 14px;
}

/*just the update cart link*/

.mp_cart_col_updatecart input[type="submit"]
{
border: 1px solid #d9d9d9;
background-color: #e5e5e5;
}    


.mp_adding_to_cart {
	font-family: "Helvetica Neue",Arial,Helvetica,"Nimbus Sans L",sans-serif;
	padding: 8px 20px;
	font-size: 0.9em;
	color: #190;
}
.mp_no_stock { opacity: 0.5; display: inline-block; }

#order-id-submit { padding:5px 20px; }
.mp_link_buynow { float: right; }

#mp_product_list input[type="submit"]:active,
.type-product input[type="submit"]:active,
.mp_cart_col_updatecart input[type="submit"]:active,
.mp_cart_direct_checkout_link:active,
#mp_shipping_submit:active,
#order-id-submit:active,
#mp_payment_confirm:active,
.mp_link_buynow:active {
	border: 1px solid #bfbfbf;
	text-decoration: none;
}

/* green font on buy-action buttons */
#mp_product_list .mp_button_addcart,
#mp_product_list .mp_button_addcart:hover,
#mp_product_list .mp_button_addcart:active,
.type-product .mp_button_addcart,
.type-product .mp_button_addcart:hover,
.type-product .mp_button_addcart:active,
.mp_cart_direct_checkout_link,
.mp_cart_direct_checkout_link:hover,
.mp_cart_direct_checkout_link:active,
#mp_shipping_submit,
#mp_shipping_submit:hover,
#mp_shipping_submit:active,
.mp_link_buynow,
.mp_link_buynow:hover,
.mp_link_buynow:active,
#mp_payment_confirm,
#mp_payment_confirm:hover
{ color: #fff; }

#mp_product_list input[type="submit"]:hover,
.type-product input[type="submit"]:hover,
.mp_cart_col_updatecart input[type="submit"]:hover,
.mp_cart_direct_checkout_link:hover,
#mp_shipping_submit:hover,
#order-id-submit:hover,
#mp_payment_confirm:hover,
.mp_link_buynow:hover {
    color: #555A92;
}

/*override buy now link (used for view print version link) */
.mp_link_buynow {
border: 1px solid #d9d9d9;
background-color: #e5e5e5;    
color: #555A92;
}

.mp_link_buynow:hover {   
text-decoration: underline
}

/* end generic buttons rules */


del.mp_old_price {
margin-right: 5px;
}


#mp_cart_updated_msg {
background-color: #FFFFE0;
border: 1px solid #E6DB55;
margin: 10px 0px;
padding: .5em;
}
div.mp_checkout_error {
background: #ffdddd url('../images/store/modern-images/error.png') no-repeat 5px 12px;
-moz-border-radius: 3px;
-khtml-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
border: 1px solid #ffafaf;
margin: 10px 0px;
padding: 10px 10px 10px 30px;
}
table.mp_cart_login td, table.mp_cart_contents td, table.mp_cart_shipping td {
vertical-align: middle;
}
td.mp_cart_subtotal_lbl {
text-align: right;
}
td.mp_cart_col_quant input {
margin: 0;
text-align: center;
}
td.mp_cart_col_updatecart input {
margin: 0;
}
table.mp_cart_shipping input, table.mp_cart_shipping select {
margin: 0;
}
p.mp_cart_direct_checkout, p.mp_cart_login_msg {
text-align: right;
margin-bottom: 5px;
}

.mp_product_image_list, .mp_product_image_single, .mp_product_image_widget {
-moz-box-shadow: 3px 3px 4px #cccccc; 
 -webkit-box-shadow: 3px 3px 4px #cccccc; 
 box-shadow: 3px 3px 4px #cccccc;
border: 1px solid #eeeeee;

}

.mp_cart_contents_widget td {
padding: 5px;
}

.mp_cart_contents_widget th {
background: #eeeeee;
}

.mp_cart_contents_widget tr, .mp_cart_contents_widget td, .mp_cart_contents_widget tbody {
border: 1px solid #eeeeee;
}

.mp_cart_actions_widget {
padding-top: 10px;
}

.mp_cart_widget h3 {
padding: 0px 0px 10px 30px;
background: url('../images/store/modern-images/basket.png') no-repeat;
}

.mp_checkout_link {
font-size: 14px;
padding: 0px 0px 0px 20px;
background: url('../images/store/modern-images/basket_go.png') no-repeat;
float: right;
}

.mp_empty_cart {
font-size: 14px;
background: url('../images/store/modern-images/basket_delete.png') no-repeat;
margin-right: 10px;
padding: 0px 0px 0px 20px;
}

.mp_product_categories {
background: url('../images/store/modern-images/package.png') no-repeat 0 3px;
margin-top: 10px;
padding: 0px 0px 0px 20px;
}

.mp_product_meta {

}

ul.mp_store_navigation, ul#mp_popular_products, ul#mp_category_list, li.product_category ul, ul#mp_product_list {
list-style: none;
margin: 10px 0px;
}

.mp_product_image_single { margin-top:0!important; }

.mp_store_navigation li, #mp_popular_products li, .product_category li {
background: url('../images/store/modern-images/arrow_right.png') no-repeat 0px 3px;
padding-left: 20px;
list-style:none;
}

.mp_cart_contents thead, .mp_cart_shipping thead {
background: #eeeeee;
}

.mp_cart_contents th.mp_cart_col_product {
background: url('../images/store/modern-images/basket.png') no-repeat 9px 2px;
padding: 6px 0px 5px 30px;
}

.mp_cart_contents th.mp_cart_col_price {
background: url('../images/store/modern-images/money.png') no-repeat 9px 4px;
padding: 6px 0px 5px 30px;
}

.mp_cart_contents th.mp_cart_col_quant {
background: url('../images/store/modern-images/basket_add.png') no-repeat 9px 3px;
padding: 6px 0px 5px 30px;
}

.mp_cart_shipping thead {
background: #eeeeee url('../images/store/modern-images/lorry.png') no-repeat 9px 2px;
padding: 6px 0px 5px 30px;
}

.mp_product_categories {
padding: 10px;
border: 1px solid #e2e2e2;
background: #eeeeee;
-moz-border-radius: 3px;
-khtml-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
}

td.mp_cart_col_downloads {
font-size: 80%;
}

/* layout/default styles for public views (non-admin) */
.clear{
clear:both;
font-size:1px;
}


/* end products grid view */

/* New Grid stylesheet */

.mp_grid .mp_one_tile { vertical-align: top; clear: both; margin:30px 30px 0 0; *display: inline; *zoom: 1; }
.mp_grid .mp_product_name,
.mp_grid .mp_excerpt {  word-wrap: break-word; }
.mp_grid .mp_img_link { display: block; }
.mp_grid .mp_img_link img { margin: 0 auto; float: none; display: block; }

.mp_grid #mp_product_list, 
.mp_grid .mp_product_detail, 
.mp_grid .mp_price_buy,.mp_grid .ea_mp_buy { display: inline-block; }

.mp_grid .mp_one_tile, 
.mp_grid .mp_one_product { display: inline; }

.mp_grid .mp_product_detail { vertical-align: top; margin-bottom: 35px; margin-top: 30px; }
.mp_grid .mp_price_buy,.mp_grid .ea_mp_buy { vertical-align: bottom; }

.mp_grid .mp_buy_form { float:none; text-align: center; }
.mp_grid .mp_product_price { display: inline-block; background: none; padding: 0; margin: 0 0 0 -3px; }
.mp_grid .mp_old_price { opacity: 0.5; }

/* End GRID view */


/* Ajax for products view*/
.mp_product_list_refine{
display: none;
}
.mp_list_filter{

}
.mp_list_filter .one_filter{
display:inline-block;
margin-right:20px;
}
.mp_list_filter .one_filter span{
color: grey;
}
.mp_list_filter .one_filter select{
padding: 1px 0px 1px 2px;
border:1px solid #cccccc;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
}

#mp_product_list{
/*position: relative;*/
margin-top: 10px;
margin-bottom: 10px;
}
.mp_ajax_loading{
position: absolute;
top:0px;
bottom:0px;
left:0px;
right:0px;
background:rgba(201,201,201,.2) url('../images/ajax-loader.gif') no-repeat 5px 5px;
z-index: 1;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
.mp_list .mp_ajax_loading{
background:rgba(201,201,201,.2) url('../images/ajax-loader.gif') no-repeat 99% 5px;
}

.mp_cart_shipping thead th { padding-left: 30px; }

/* cart breadcrumbs */
.mp_cart_breadcrumbs{
margin-bottom:20px;
}

.mp_cart_breadcrumbs span,
.mp_cart_breadcrumbs a{
margin-right:20px;
}

.mp_cart_breadcrumbs a{
opacity: .6;
}
.mp_cart_breadcrumbs a:hover{
opacity: 1;
}
.mp_cart_breadcrumbs .current{
font-weight: bold;
}

.mp_cart_breadcrumbs .sep,
.mp_cart_breadcrumbs .incomplete:not(.current){
color:#cccccc;
}
.mp_cart_breadcrumbs .current + .sep{
color:black;
}

.mp_one_tile:hover .mp_excerpt,
.mp_one_tile:hover .mp_price_buy{
/*display:block;*/
}

.mp_cart_col_updatecart { text-align: right; }


/*-------HACKS. NEED TO BE INTEGRATED-----*/

/*-----------PRODUCTS-------------------*/

.mp_product_image_single,.mp_product_image_widget{
margin-right: 8px;
}

.entry-content h3.mp_product_name
{
font-size: 16px;
font-size: 1rem;
margin-top:10px;
}

.site-content .product {
border-top: 0px;
margin-top: 0px;
padding: 0px;
}

.basket-product-page {
background: $ea_orange url('/wp-content/themes/earlyarts/images/shopping-basket-small-on-orange.png') no-repeat 10px 5px;
border: 1px solid red;
width: 240px;
padding: 10px;
color: #fff;
border-radius: 4px;
}

.basket-product-page a {
position: relative;
left: 40px;
color: #fff;
}

.basket-product-page:hover {background-color: rgb(255, 61, 0)}

.mp_cart_payment_methods label {
margin: 0px 20px 10px 10px;
}

.mp_cart_payment_methods label img {
margin: 0px 10px;
}
