
/*! 
-------EARLYARTS MAIN STYLES-----
*/

/* ----------MAIN TEMPLATING ---------*/

body, html, #page {background:#dcdcdc;}
body {color:#333}

html,body{
font-size:16px;
}

.row,.contain-to-grid .top-bar 
{
max-width:960px;
}

/*100% bands, rather than page floating on background*/
#page > #main, #page > #mobile-menu  {background:#fff;}
#page > #header {background-color:#eee;}
#page > #main > #breadcrumbs {background:$ea_turqoise}
#content .row {background-color:#fff;}



/*--------MAIN TYPOGRAPHY-------------*/

h1, h2, h3, h4, h5, h6 {
line-height: 1.2;
}


h1,h2 {
font-size: 26px;
font-size: 1.625rem;
color:$ea_dk_blue;
letter-spacing:-1px;
line-height: 1.1;
}

h3,h4 {
font-size: 19px;
font-size: 1.1875rem;
color:$ea_turqoise;
}

h5,h6{
font-size: 14px;
font-size: 0.875rem;
text-transform:uppercase;
}

h2,h4{
font-weight:normal;
color:$ea_turqoise;
}

h4,h6{
color:$ea_lime;
}



a {color:$ea_turqoise;}
a:hover{color:#333333;}

/*
foundation top menu didn't like div being defined below, 
it stopped the menu toggle working
 */
 
dl,dt,dd,ul,ol,li,pre,form,p,blockquote,th,td,label{
font-size: 14px;
font-size: 0.875rem;
line-height:20px;
line-height:1.25rem;
color:#555;
}

/*------------HEADER-------*/

.inner-header {
margin-bottom: 0;
padding-top:0;
border-bottom:0;
}

.site-header .site-logo {
margin-bottom:2px;
}

.site-header{
margin-bottom:0px;
}

.site-logo img {
position: relative;
top: 4px;
}

.header-hero {
background: #fff;
padding: 0px 0px 20px 0px;
}

.header-hero > img {
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
box-shadow: 0px 1px 1px rgba(100,100,100,0.2);
}

/*-top bar for secondary menus*/

.top-bar-section ul li>a {
font-size:12px;
font-size:0.75rem;
font-weight:bold;
text-transform:uppercase;
}

.top-bar-section .join-menu a {
    color:$ea_orange_dark;
}

.top-bar-section li.join-menu a:not(.button) {
    text-shadow: 1px 0px 1px #cccccc;
	}


.top-bar .top-bar-section ul li:hover>a,
.top-bar-section ul li>a:not(.button):hover,
.top-bar-section ul li.active>a {
background:#B6B5B6;
color:$ea_turqoise;
    text-shadow:0px 0px 0px;
}



.top-bar,.contain-to-grid,.top-bar-section ul li>a,.top-bar-section li a:not(.button) {
	background: #B6B5B6;
	}

.top-bar-section>ul>.divider, .top-bar-section>ul>[role="separator"] {
border-right: solid 1px #CEC7C7;
border-left: solid 1px #A0A0A0;
}


/*-main menu using Foundation's top bar-*/

.main-top-bar-wrapper {
border-top: 5px solid $ea_turqoise;
}

.main-top-bar-wrapper .top-bar,
.main-top-bar-wrapper .top-bar-section ul li>a,
.main-top-bar-wrapper .top-bar-section li a:not(.button),
.main-top-bar-wrapper .contain-to-grid
{
background: $ea_dk_blue;
}



.main-top-bar-wrapper .top-bar-section ul li>a {
color: #fff;
text-transform: uppercase;
font-weight: bold;
font-size: 14px;
font-size: 0.875rem;
}

.main-top-bar-wrapper .top-bar-section ul ul.sub-menu li>a {
font-size: 12px;
font-weight: normal;
line-height:1.8;
}

.main-top-bar-wrapper .top-bar-section ul li.hover>a,
.main-top-bar-wrapper .top-bar-section ul li>a:hover,
.main-top-bar-wrapper .top-bar-section ul .current-menu-item a
{
background:$ea_turqoise;
color:#ccc;
text-shadow: 0px 1px 1px #111;    
}


.main-top-bar-wrapper .top-bar-section>ul>.divider, 
.main-top-bar-wrapper .top-bar-section>ul>[role="separator"] {
border-right: solid 1px #2E547E;
border-left: solid 1px #0B0C0C;
}

.main-top-bar-wrapper .toggle-topbar.menu-icon a {
text-indent: -80px;
}


//smaller forn for wrapped text
.main-top-bar-wrapper .top-bar-section ul li>a
{
font-size:13px;
}

//make LIs change color - better for wrapped text
.main-top-bar-wrapper .top-bar-section ul li:hover {
background: #4b707f;
}    

/*-----------WIDGETS----------------*/

h4.widget-title {
@include font-size(14);
font-weight: bold;
text-transform: uppercase;
color: #666;
}

.widget {
background: $ea_widget_bk;
margin-bottom: 10px;
padding: 10px;
box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
border-radius: 1px;
	ul
	{
	margin-left:0;
	}
	li {
	margin-bottom: 15px;
	list-style-type:none;
	}
	a{
	font-weight:bold;
	}
	li,p{
	@include font-size(12);
	@include line-height(17);
	}
}

.nav-widget {
background: #fff;
box-shadow: 0px 0px;
text-transform:uppercase;
	li{
	@include font-size(14);
	padding:10px 0px;
	border-bottom:1px dotted #ccc;
	margin-bottom:0;
	}
	a{
	font-weight:bold;
	}	
}

.lcp_post_title_no_space {
margin-bottom: 10px;
}

.lcp_catlist blockquote{
padding-top:0;
font-style:italic;
}

.textwidget > p:last-child {
margin-bottom: 0px;
}

.widget .textwidget {
margin-bottom: 0px;
}

.hide-title h4.widget-title{
display:none;
}

.testimonial p:before {
content: "\201C";
font-size: 50px;
margin-top: 50px;
position: relative;
left: -5px;
top: 17px;
}

.testimonial p:after {
content: "\201D";
font-size: 50px;
position: absolute;
line-height: 1;
}

.testimonial p {
font-style: italic;
}

.RHS-advert1{
background: $ea_turqoise;
border-radius: 10px;
border: 3px solid #fff;
box-shadow: 0px 1px 1px rgba(0,0,0,0.6);
}

.RHS-advert1 p{
color: #fff;
font-weight: bold;
text-align: center;
font-size: 16px;
font-size: 1rem;
}

.RHS-advert1 p a{
color:#fff;
text-decoration: none;
}

.RHS-advert1 p a:hover{
text-decoration: none;
border-bottom: 1px dotted white;
}

.join-widget{
	li {
	list-style-type: disc;
	margin-bottom: 0.1em;
	}
	ul {
	margin-left:14px;
	}
}


/*-product listings in RHS-*/
.widget #mp_product_list li {
clear: left;
margin: 0px;
padding-bottom: 10px;
overflow: auto;
}

.widget .mp_product_name {
font-size: 15px;
font-size: 0.9375rem;
}

/* updated MarketPress removed alignleft from images */
.widget .mp_product img {
float: left;
}

.store-widget {
border-radius: 2px;
box-shadow: 0px 0px;
background: adjust-color($ea_lime,$lightness:0%,$saturation:5%,$alpha:-0.95);
border-top:3px solid $ea_lime;
margin-bottom: 0;
}

.store-widget:nth-child(3) {
border-bottom:3px solid $ea_lime;
border-top:0px;
margin-bottom: 10px;
}


.store-widget a {
color: #333;
}

.store-widget a:hover {
text-decoration:underline;
}

.mp_cart_widget_content .mp_cart_empty, .mp_cart_widget_content .mp_store_link{
font-size:14px;
font-size:0.875rem;
}


.basket_widget p {
margin: 0 0 4px 25px;
}

.basket_widget {
background: url('/wp-content/themes/earlyarts/images/shopping-basket-xsmall-on-orange.png') no-repeat;
}

/*-------------EVENTS WIDGETS------------------*/
.widget_incsub_event_upcoming {
	ul
	{
	margin-left:0;
	}
	 li
	{
	list-style-type:none;
	clear:left;
	margin-bottom:10px;
	}
	.wpmudevevents-date {
	float:none !important;
	line-height:1 !important;
	font-weight:normal !important;
	margin-top:2px !important;
	}
	.wpmudevevents-date {
	font-size: 12px;
	color: #666;
	}

}	


/*---------LHS SUB MENU-------*/


#side-menu .section-container, #side-menu .section-container.auto {
border: 0px;
}

#side-menu .section-container>section>.title, #side-menu .section-container>.section>.title, #side-menu .section-container.auto>section>.title, #side-menu .section-container.auto>.section>.title {
border: 0px;
border-bottom: 1px dotted #ccc;
background-color:white;
}

#side-menu .section-container>section>.title a, #side-menu .section-container>.section>.title a, #side-menu .section-container.auto>section>.title a, #side-menu .section-container.auto>.section>.title a  {
font-size: 14px;
font-size: 0.875rem;
font-weight: bold;
text-transform: uppercase;
color: $ea_turqoise;
}

/*---------MAIN CONTENT AREA-------*/

#page .site-content {padding:0px 0px 20px 0px}

.entry-header .date {
margin: -15px 0px 10px 0px;
letter-spacing: -1px;
font-size: 115%;
}

.entry-body {
font-size: 14px;
}

.entry-content img.alignright,.entry-content figure.alignright{
margin-left: 10px;
}

.entry-content img.alignleft,.entry-content figure.alignleft {
margin-right: 10px;
}

.entry-content li {
line-height: 1.3;
margin-bottom: 10px;
margin-bottom: 0.6rem;
}

.entry-content ul.pricing-table li
{
margin-bottom: 0;
}

.wp-caption-text {
font-size: 11px;
font-size: 0.6875rem;
padding: 5px 0px 2px 0px;
text-align: center;
text-shadow: 0px 1px 0px #fff;
}

.wp-caption {
background: #eee;
margin-bottom:16px;
margin-bottom:1rem;
-webkit-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1);
box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1);
}

.panel {
line-height:1.3;
}

hr.greydotted{
border-top: 1px dotted #ddd;
}


/*-----main content area - page specifics---*/

.team-member {
clear: both;
margin-bottom: 30px;
overflow: hidden;
}

.team-member img {
margin-right: 10px;
}

#membership-wrapper legend {
margin-left: 0px;
}


/*-----------ORBIT SLIDER ---
CURRENTLY NOT USED
*/
 
/* 
.orbit-container .orbit-slide-number {display:none}
.orbit-bullets,.orbit-container .orbit-timer .orbit-progress {display:none}

.orbit-container .orbit-prev>span, .orbit-container .orbit-next>span {
margin-top: -12px;
border: inset 12px;
}

.orbit-container .orbit-next>span {
border-color: transparent;
border-left-style: solid;
border-left-color: #fff;
}

.orbit-container .orbit-prev>span {
border-color: transparent;
border-left-style: solid;
border-right-color: #fff;
}

.orbit-container .orbit-prev, .orbit-container .orbit-next {
width: 40px;
height: 50px;
}

.orbit-caption .slide-excerpt{color:#fff}
.orbit-caption .slide-title a {color:$ea_lime;}
*/


/*----------POST LISTINGS----------*/

h1.archive-title p
{
font-size: 26px;
font-size: 1.625rem;
color: $ea_dk_blue;
font-weight: bold;
letter-spacing: -1px;
line-height:1.1;
margin-bottom:13px;
}

.archive-header h4 {
margin-bottom: 24px;
letter-spacing: 0px;
font-weight: bold;
line-height: 1.2;
font-size: 16px;
font-size: 1rem;
}

.archive-header h1.archive-title {
margin-bottom: 0px;
}

.archive-header + article {
margin-top: 25px;
}


/*--for link post formats--*/
.post.format-link p {
line-height: 1.3;
}


/*--------EVENTS ------*/

/*-listings-*/
.post-type-archive-incsub_event .entry-body {
margin-bottom: 30px;
padding-bottom: 5px;
}

.post-type-archive-incsub_event hr {
position: relative;
top: 10px;
}

.post-type-archive-incsub_event .wpmudevevents-buttons {
margin-bottom: 0px;
}

.post-type-archive-incsub_event .wpmudevevents-location {
background-position-y: 2px;
}

.post-type-archive-incsub_event  .entry-body .mp_product_price {
display:inline-block;
background-position-y: 2px;
line-height:2;
}

.post-type-archive-incsub_event  .wpmudevevents-date{
font-weight:bold;
}

.post-type-archive-incsub_event .wpmudevevents-date,
.post-type-archive-incsub_event .wpmudevevents-location,
.post-type-archive-incsub_event .wpmudevevents-price
{
line-height:2;
}

/*-single events-*/
.entry-content #wpmudevevents-wrapper {
padding:0;
}

.entry-content #wpmudevevents-load-rsvps,.entry-content #wpmudevevents-hide-rsvps{
margin-left:0;
}

#event-bread-crumbs {
display: none;
}

#wpmudevevents-contentheader {
display: none;
}

#wpmudevevents-wrapper #wpmudevents-single > hr {
border: none;
}

#wpmudevevents-wrapper .wpmudevevents-content hr {
border-top: 5px solid $ea_turqoise;
margin-bottom: 5px;
}

/* H3s are floated left by the plugin - I can't see why*/
#wpmudevevents-contentbody h3 {
float: none !important;
}


/*-----------FOOTER-------------------*/
.site-info{padding-top:0px;background: $ea_turqoise}
#colophon{color:#fff;}

#footer-social {
text-transform: uppercase;
color: #FFF;
padding-top: 20px;
padding-bottom: 20px;
background: $ea_dk_blue;
}

#footer-social a {
color: #fff;
font-size:11px;
font-size:0.6875rem;
}

#footer-social a:hover {
text-decoration: underline;
}

#footer-social>div>div {
margin-bottom:30px;
}

.social-sprite{
height: 36px;
background: url('../images/social-icons-sprites.png');
display: inline-block;
width: 36px;
vertical-align: middle;
}

.vimeo {background-position: -108px 36px;}
.facebook {background-position: -72px 36px;}
.twitter {background-position: 0px 36px;}
.flickr {background-position: -108px 36px;}
.linkedin {background-position: -144px 36px;}

#footer-social span{
padding-left:10px;
}

#footer-info .row {padding:10px;}

#footer-info {
color: #FFF;
background-color: $ea_turqoise;
padding-top: 30px;
padding-bottom: 15px;
}

#footer-info p {
color: #eee;
}

#footer-info h3 {
width: 100%;
text-transform: uppercase;
font-size: 16px;
border-top: 5px solid #eee;
padding-top: 12px;
color: #eee;
margin-bottom: 10px;
}

#footer-info a {
color:#fff;
}

#footer-info ul {
list-style: none outside;
margin-left:0;
}

#footer-info li {
line-height:16px;
line-height:1rem;
margin-bottom:7px
}

/*footer-sidebar-*/

.inner-footer {
border-top: 5px solid $ea_turqoise;
background: #eee;
}

#sidebar-footer {
padding-top:20px;}

#sidebar-footer .widget {
border-bottom: 0px;
padding-bottom:20px;
background: #eee;
border: 0px;
box-shadow: 0px 0px 0px;
}

#sidebar-footer .twitter_update_list {
list-style-type: none;
margin-left: 0px;
}

.twitter_update_list .twitter-item {
margin-bottom: 12px;
}

#sidebar-footer p,#sidebar-footer li,#sidebar-footer div,#sidebar-footer label {
font-size:12px;
font-size:0.75rem;
line-height:1.6;
}

.twitter-timestamp {
margin-left: 2px;
}

/*------------FORMS------------*/

/*bit more height for selects */
select.um_input {
height: 27px;
height: 1.7rem;
}

textarea + .um_description, input + .um_description {
margin-top: -10px;
}



