/*-----------FRONT PAGE-------------------*/

.frontpage-widget {
padding:0px;
box-shadow:0px 1px 0px 0px rgba(150, 150, 150, 0.35), 0px 2px 0px 0px #fff;
border-radius:0px;
padding-top: 12px;
color: #333;
padding-bottom: 5px;
margin-top:0px;
margin-bottom:0px;
	ul {
	list-style-type: none;
	margin-left: 0;
	}
	li
	{
	@include font-size(12);
	@include line-height(16);
	}
	a
	{
	font-weight: normal;
	@include font-size(12);
	@include line-height(13);
	}
	p
	{
	@include font-size(12);
	@include line-height(16);
	}
	.twitter-item {
		a
		{
		@include font-size(12);
		font-weight:normal;
		}
	}	
}

.frontpage-widget:last-child {
box-shadow:none;
}

.front-page {
	.sidebar{
	background:$ea_widget_bk;
	padding-bottom:20px;
	}
	.widget{
	background:none;
	}
	h2 {
	font-weight: normal;
	@include font-size(19);
	color: #777;
	line-height: 1.1em;
	letter-spacing: 0px;
	margin-top:-1px;
	}
	h1 {
	margin-bottom:0;
	}
}

.front-page h4.widget-title {
color: #333;
}

.front-blog-widget {
	p {
	letter-spacing: 0;
	}
}



.subscribe-button h4.widget-title{
display:none;
}
    
.subscribe-button {
border:0px none;
padding:0;
}

.news-widget{
		ul {
		margin-bottom: 0;
		}
		.date {
		margin-bottom: 0;
		@include font-size(11);
		}
}            